#pulse-dashboard-container {

    .pulse-expand-toggle {
        background: none;
        border-radius: 2px;
        color: #666;
        cursor: pointer;
        font-size: 24px;
        height: 32px;
        margin: 0;
        padding: 0;
        width: 64px;
    }

    .pulse-table {
        border-collapse: collapse;
        max-width: 100%;
        table-layout: auto;
        width: 100%;

        .the-list .no-items {
            text-align: center;
        }
    }

    .pulse-row-details {
        max-height: 300px;
        overflow: scroll;
        // width: 50%;

        pre {
            box-sizing: border-box;
            max-width: 100%;           /* stay within the cell */
            overflow-x: auto;          /* scroll if still too wide */
            white-space: pre-wrap;     /* allow wrapping */
            word-break: break-word;    /* break long strings if needed */
        }
    }

    td[data-colname="User"] {
        display: flex;
        flex-direction: row;

        img {
            width: 64px;
            height: 64px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 10px;
        }
    }

    td[data-colname="Date"] {
        white-space: nowrap;
    }

    th#summary {
        width: auto;
    }

    th#user_id {
        white-space: nowrap;
        width: 15%;
    }

    td[data-colname="Expand Toggle"],
    th#expand-toggle {
        width: 3%;
    }

    th#context,
    th#action, 
    th#ip {
        width: 10%;
    }

    @media (max-width: 900px) {

        th#date {
            width: 25%;
        }

        th#user_id {
            width: auto;
        }

        td:not(.column-primary):before {
            display: none;
        }

        th#action,
        th#context,
        th#ip,
        td[data-colname="Action"],
        td[data-colname="Context"],
        td[data-colname="IP Address"] {
            display: none;
        }
    }

    @media (max-width: 768px) {
        th#user_id,
        td[data-colname="User"] {
            display: none;
        }
    }
}