body.wp-pulse .wrap h1 {
    &:before {
        display: inline-flex;
        flex-direction: row;
        height: 22px;
    }

    align-items: center;
    display: inline-flex;
    gap: 4px;

    .wp-pulse-logo {
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IS0tIFVwbG9hZGVkIHRvOiBTVkcgUmVwbywgd3d3LnN2Z3JlcG8uY29tLCBHZW5lcmF0b3I6IFNWRyBSZXBvIE1peGVyIFRvb2xzIC0tPgo8c3ZnIHdpZHRoPSI4MDBweCIgaGVpZ2h0PSI4MDBweCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTkgMkM5LjQzMDQzIDIgOS44MTI1NyAyLjI3NTQzIDkuOTQ4NjggMi42ODM3N0wxNSAxNy44Mzc3TDE3LjA1MTMgMTEuNjgzOEMxNy4xODc0IDExLjI3NTQgMTcuNTY5NiAxMSAxOCAxMUgyMkMyMi41NTIzIDExIDIzIDExLjQ0NzcgMjMgMTJDMjMgMTIuNTUyMyAyMi41NTIzIDEzIDIyIDEzSDE4LjcyMDhMMTUuOTQ4NyAyMS4zMTYyQzE1LjgxMjYgMjEuNzI0NiAxNS40MzA0IDIyIDE1IDIyQzE0LjU2OTYgMjIgMTQuMTg3NCAyMS43MjQ2IDE0LjA1MTMgMjEuMzE2Mkw5IDYuMTYyMjhMNi45NDg2OCAxMi4zMTYyQzYuODEyNTcgMTIuNzI0NiA2LjQzMDQzIDEzIDYgMTNIMkMxLjQ0NzcyIDEzIDEgMTIuNTUyMyAxIDEyQzEgMTEuNDQ3NyAxLjQ0NzcyIDExIDIgMTFINS4yNzkyNEw4LjA1MTMyIDIuNjgzNzdDOC4xODc0MyAyLjI3NTQzIDguNTY5NTcgMiA5IDJaIiBmaWxsPSIjMDAwMDAwIi8+Cjwvc3ZnPg==');
        background-size: contain;
        height: 20px;
        width: 20px;
    }
}

#pulse-dashboard-container {
    .tablenav-pages {
        display: flex;
        align-items: center;

        .pagination-links {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 3px;
        }
    }

    .one-page .pagination-links {
        display: none !important;
    }

    .pulse-expand-toggle {
        background: none;
        border-radius: 2px;
        color: #666;
        cursor: pointer;
        font-size: 24px;
        height: 32px;
        margin: 0;
        padding: 0;
        width: 64px;
    }

    .pulse-table {
        border-collapse: collapse;
        max-width: 100%;
        table-layout: auto;
        width: 100%;

        .the-list .no-items {
            text-align: center;
        }
    }

    .pulse-row-details {
        background-color: #ffffff;
        margin: 0;
        padding: 0;
        max-height: 300px;
        overflow: scroll;

        pre {
            box-sizing: border-box;
            margin: 0;
            max-width: 100%;           /* stay within the cell */
            padding: 10px;
            overflow-x: auto;          /* scroll if still too wide */
            white-space: pre-wrap;     /* allow wrapping */
            word-break: break-word;    /* break long strings if needed */
        }
    }

    td[data-colname="User"] {
        display: flex;
        flex-direction: row;

        img {
            width: 64px;
            height: 64px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 10px;
        }
    }

    td[data-colname="Date"] {
        white-space: nowrap;
    }

    th#summary {
        width: auto;
    }

    th#user_id {
        white-space: nowrap;
        width: 15%;
    }

    td[data-colname="Expand Toggle"],
    th#expand-toggle {
        width: 3%;
    }

    th#context,
    th#action, 
    th#ip {
        width: 10%;
    }

    .tablenav.top {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    #record-query-reset {
        align-items: center;
        display: inline-flex;
        text-decoration: none;
        gap: 4px;

        &:hover {
            font-weight: bold;
        }

        .dashicons-dismiss {
            align-items: center;
            display: flex;
            font-size: 16px;
            height: 16px;
            width: 16px;
        }
    }

    @media (max-width: 900px) {

        th#date {
            width: 25%;
        }

        th#user_id {
            width: auto;
        }

        td:not(.column-primary):before {
            display: none;
        }

        th#action,
        th#context,
        th#ip,
        td[data-colname="Action"],
        td[data-colname="Context"],
        td[data-colname="IP Address"] {
            display: none;
        }
    }

    @media (max-width: 768px) {
        th#user_id,
        td[data-colname="User"] {
            display: none;
        }
    }
}